.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 16px;
    gap: 850px;

    height: 48px;
    left: 0px;
    right: 0px;
    top: 0px;

    background: #001529;
    /* border & divider/divider ↓ */

    box-shadow: inset 0px -1px 0px #F0F0F0;
}