body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  width: 100vw;
  height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.popup-layer {
  z-index: 10000;
}

.external-layer {
  position: relative;
  left: 0;
  top: 0;
}

.ant-popover-arrow {
  display: none;
}

.ant-popover-inner-content {
  padding: 0;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-header {
  border-radius: 10px 10px 0 0;
}

.ant-modal-footer .ant-btn {
  border-radius: 4px;
}

.ant-table {
  border-radius: 10px;
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.ant-table-container table > thead > tr:first-child th:last-child {
  border-top-right-radius: 10px;
}